<header header-main headerinfo="adOption.header"></header>

<div class="row">
    <div class="col-md-2">
        <div menushow="adOption.ifLogged" active="adOption.menuactive" menu-navigation></div>

    </div>

    <div class="col-md-10">
        <div alert-ads add-alert="adOption.addAlert"></div>

       <div  user-ad  ad="adOption.ad" title="adOption.title" button-name="adOption.buttonName" submit-click="adOption.submitClick" cancel-click="adOption.cancelClick">
       </div>

    </div>
</div>