<div class="row">
    <div class="col-md-2">
        <div class="panel panel-default panel-side">
            <div class="panel-body">
                <h3 class="text-center small-margin"><strong>Navigation</strong></h3>
                <hr>
                <a class="btn-link-active btn btn-block" href="">Home</a>
                <a class="btn btn-link btn-block" href="">My ads</a>
                <a class="btn btn-link btn-block" href="">Publish new Ad</a>
                <a class="btn btn-link btn-block" href="">Edit profile</a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <!--<div class="row">-->
        <!--<div class="col-md-12 ">-->
        <div class="panel panel-default panel-main col-md-12">
            <div class="panel-body">
                <h2 class="bottom-margin"><strong>Title 1</strong> <small class="pull-right ">DD-MM-YYYY</small></h2>

                <div class="col-md-4">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmzMFjujgib4Md4MHoGD4VoIDwqjaG3DDrylUns_rY8dgSuybA" class="img-responsive" alt="Responsive image">
                </div>
                <div class="col-md-8">
                    <form class="form-horizontal">
                        <div class="form-group clearfix">
                            <textarea class="form-control" readonly ></textarea>
                        </div>

                        <div class="form-group small-margin">
                            <label for="name" class="col-sm-2 control-label ">Name</label>
                            <div class="col-sm-10 remove-right-padding">
                                <input type="text" class="form-control" id="name" readonly placeholder="Name" value="Name">
                            </div>
                        </div>

                        <div class="form-group small-margin">
                            <label for="email" class="col-sm-2 control-label ">Email</label>
                            <div class="col-sm-10 remove-right-padding">
                                <input type="email" class="form-control " id="email" readonly placeholder="Email">
                            </div>
                        </div>

                        <div class="form-group small-margin">
                            <label for="tel" class="col-sm-2 control-label ">Tel.</label>
                            <div class="col-sm-10 remove-right-padding">
                                <input type="text" class="form-control" id="tel" readonly placeholder="tel.">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!--</div>-->

        <!--<div class="col-md-12 ">-->
        <div class="panel panel-default panel-main col-md-12">
            <div class="panel-body">
                <h2 class="bottom-margin"><strong>Title 1</strong> <small class="pull-right ">DD-MM-YYYY</small></h2>

                <div class="col-md-4">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmzMFjujgib4Md4MHoGD4VoIDwqjaG3DDrylUns_rY8dgSuybA" class="img-responsive" alt="Responsive image">
                </div>
                <div class="col-md-8">
                    <form class="form-horizontal">
                        <div class="form-group clearfix">
                            <textarea class="form-control" readonly ></textarea>
                        </div>

                        <div class="form-group small-margin">
                            <label for="name" class="col-sm-2 control-label ">Name</label>
                            <div class="col-sm-10 remove-right-padding">
                                <input type="text" class="form-control" id="name" readonly placeholder="Name">
                            </div>
                        </div>

                        <div class="form-group small-margin">
                            <label for="email" class="col-sm-2 control-label ">Email</label>
                            <div class="col-sm-10 remove-right-padding">
                                <input type="email" class="form-control " id="email" readonly placeholder="Email">
                            </div>
                        </div>

                        <div class="form-group small-margin">
                            <label for="tel" class="col-sm-2 control-label ">Tel.</label>
                            <div class="col-sm-10 remove-right-padding">
                                <input type="text" class="form-control" id="tel" readonly placeholder="tel.">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!--</div>-->

        <div class="col-md-12 text-center">
            <pagination total-items="home.pagTotalItems" ng-change="home.pageChanged()" ng-model="home.pagCurrentPage" items-per-page="home.itemsPerPage" ng-model="home.pagCurrentPage" max-size="5" class="pagination" boundary-links="true"></pagination>
        </div>

        <!--</div>-->
    </div>

    <div class="col-md-2">
        <!--<div class="row">-->

        <div class="panel panel-default panel-side">
            <div class="panel-body">
                <h3 class="text-center small-margin"><strong>Categories</strong></h3>
                <hr>
                <ul class="list-unstyled">
                    <li><a ng-click="home.filterByCategory('all');" class="btn-link-active btn btn-block">All</a></li>
                    <li ng-repeat="cat in home.categories">
                        <a ng-click="home.filterByCategory(cat.id);" class="btn btn-link btn-block">{{cat.name}}</a>
                    </li>
                </ul>


            </div>
        </div>

        <div class="panel panel-default panel-side">
            <div class="panel-body">
                <h3 class="text-center small-margin"><strong>Towns</strong></h3>
                <hr>
                <ul class="list-unstyled">
                <li><a ng-click="home.filterByTown('all');" class="btn-link-active btn btn-block" href="">All</a></li>
                    <li ng-repeat="town in home.towns"><a ng-click="home.filterByTown(town.id);"  class="btn btn-link btn-block" href="">{{town.name}}</a></li>
                </ul>
            </div>
        </div>

        <!--</div>-->
    </div>
</div>