<div class="row">
    <div class="col-md-2">

        <div ng-if="home.ifNotLogged" menu-login class="panel panel-default panel-side">
        </div>


        <div ng-if="home.ifLogged" class="panel panel-default panel-side">
            <div class="panel-body">
                <h3 class="text-center small-margin"><strong>Navigation</strong></h3>
                <hr>
                <a class="btn-link-active btn btn-block" href="">Home</a>
                <a class="btn btn-link btn-block" href="">My ads</a>
                <a class="btn btn-link btn-block" href="">Publish new Ad</a>
                <a class="btn btn-link btn-block" href="">Edit profile</a>
            </div>
        </div>


    </div>
    <div class="col-md-8">
        <!--<div class="row">-->
        <!--<div class="col-md-12 ">-->
        <div ng-repeat="ad in home.ads.ads" class="panel panel-default panel-main col-md-12">
            <div class="panel-body">
                <h2 class="bottom-margin"><strong>{{ad.title}}</strong> <small class="pull-right ">{{ad.date | date:'d-MMM-yyyy'}}</small></h2>

                <div class="col-md-4">
                    <img ng-src="{{ad.imageDataUrl}}" class="img-responsive" alt="Responsive image">
                </div>
                <div class="col-md-8">
                    <form class="form-horizontal">
                        <div class="form-group clearfix">
                            <p>{{ad.text}}</p>
                        </div>

                        <div class="form-group small-margin">
                            <label for="name" class="col-sm-2 control-label text-right remove-right-padding">Name</label>
                            <div class="col-sm-10 remove-right-padding">
                                <p id="name" >{{ad.ownerName}}</p>
                            </div>
                        </div>

                        <div class="form-group small-margin">
                            <label for="email" class="col-sm-2 control-label remove-right-padding">Email</label>
                            <div class="col-sm-10 remove-right-padding">
                                <p id="email" >{{ad.ownerEmail}}</p>
                            </div>
                        </div>

                        <div class="form-group small-margin">
                            <label for="tel" class="col-sm-2 control-label remove-right-padding">Tel.</label>
                            <div class="col-sm-10 remove-right-padding">
                                <p id="tel">{{ad.ownerPhone}}</p>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!--</div>-->


        <div class="col-md-12 text-center">
            <pagination total-items="home.pagTotalItems" ng-change="home.pageChanged()"  items-per-page="home.itemsPerPage" ng-model="home.pagCurrentPage" max-size="5" class="pagination" boundary-links="true"></pagination>

        </div>

        <!--</div>-->
    </div>

    <div class="col-md-2">
        <!--<div class="row">-->

        <div class="panel panel-default panel-side">
            <div class="panel-body">
                <h3 class="text-center small-margin"><strong>Categories</strong></h3>
                <hr>
                <ul class="list-unstyled">
                    <li><a ng-click="home.filterByCategory('all');" class="btn-link btn btn-block" ng-class="{true: 'btn-link-active'}[home.categoryId == 'all']">All</a></li>
                    <li ng-repeat="cat in home.categories">
                        <a ng-click="home.filterByCategory(cat.id);" class="btn btn-link btn-block" ng-class="{true: 'btn-link-active'}[home.categoryId == cat.id]">{{cat.name}}</a>
                    </li>
                </ul>


            </div>
        </div>

        <div class="panel panel-default panel-side">
            <div class="panel-body">
                <h3 class="text-center small-margin"><strong>Towns</strong></h3>
                <hr>
                <ul class="list-unstyled">
                <li><a ng-click="home.filterByTown('all');" class="btn-link btn btn-block" ng-class="{true: 'btn-link-active'}[home.townId == 'all']">All</a></li>
                    <li ng-repeat="town in home.towns"><a ng-click="home.filterByTown(town.id);"  class="btn btn-link btn-block" ng-class="{true: 'btn-link-active'}[home.townId == town.id]">{{town.name}}</a></li>
                </ul>
            </div>
        </div>

        <!--</div>-->
    </div>
</div>