<div class="panel-body">
    <h3 class="text-center small-margin"><strong>Navigation</strong></h3>
    <hr>
    <a class="btn-link btn btn-block" href="#/admin/home" ng-class="{true: 'btn-link-active'}[active == 'Ads']">Ads</a>
    <a class="btn btn-link btn-block" href="#/admin/users/list" ng-class="{true: 'btn-link-active'}[active == 'Users']">Users</a>
    <a class="btn btn-link btn-block" href="#/admin/categories/list"
       ng-class="{true: 'btn-link-active'}[active == 'Categories']">Categories</a>
    <a class="btn btn-link btn-block" href="#admin/towns/list" ng-class="{true: 'btn-link-active'}[active == 'Towns']">Towns</a>
</div>